

<ModalHeader>
    <ModalTitle>Change Class Link</ModalTitle>
  
</ModalHeader>
<ModalBody MaxHeight="70">

    <EditForm Model="@LessonBooking" OnValidSubmit="Save" >

        <div class="form-group">

            <label>Course Name:</label>
            <InputText @bind-Value="LessonBooking.ClassLink" class="form-control" />
           
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>

</ModalBody>
<ModalFooter>
    <Blazorise.Button Color="Color.Success" Clicked="Close">Close</Blazorise.Button>
</ModalFooter>

@code {
    [Inject] public IModalService ModalService { get; set; }
    [Inject] public ApplicationDbContext context { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    [Parameter]
    public long? LessonBookingId { get; set; }

    private LessonBooking? LessonBooking = new LessonBooking();

    protected override async Task OnInitializedAsync()
    {
        LessonBooking = context.LessonBookings.Find(LessonBookingId);
    }

    private void Save()
    {
        context.SaveChanges();
        Close();
    }

    private void Close()
    {
         ModalService.Hide();
    }
}
